body{
	background-color: blue;
	background-image: url("winter.png");
	background-size: cover;
}
div{
	position: relative;
	top:30px;
}
img{
	height: 100px;
	width: 100px;
	display: block;
	margin: auto;
	border-radius: 50%;
}
p{
	text-align: center;
	font-size: 22px;
}

#container{
	background-color: white;
	opacity: 60%;
	height: 500px;
	width: 500px;
	margin: auto;
	top:100px;
	border-radius: 20px;
}
#title p{
	font-size: 30px;
	font-weight: bold;
}
#title:hover{
	color: #2b5cb4;
}